**/*.log
**/*.out
**/*.err
**/__pycache__/**
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
**/*.dylib
**/*.dll
**/*.exe
**/*.zip
**/*.tar
**/*.tar.gz
**/*.tar.bz2
**/*.tar.xz
**/*.tgz
**/*.tbz2
**/*.txz
**/*.png
**/*.pdf
experiments/
logs.txt
wandb/
logs/
cbr_analyser/case_retriever/ExplaGraphs/*/
*.ipynb_checkpoints/**
cbr_analyser/case_retriever/gcn/processed/

data/conceptNet_labels.joblib
data/conceptNet_relations.joblib
kgtk_conceptnet.tsv
processed/
cache/*
tmp/
**/*.ipynb
models/
